{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

    <table>
        <tr>
            <td> ID </td>
            <td> LAST NAME </td>
            <td> FIRST NAME </td>
            <td> SUPERIEUR </td>
            <td class="verticalite"> <span class="intact"> COFIDUR / INTERIM </span></td>

            <!-- Tous les types de formations -->
            {% for formation in tab_formations %}
                <td class="verticalite"> {{ formation }} </td>
            {% endfor %}

        </tr>

        {% for operator in tab_operators %}
            <tr>
                <td> TODO </td>
                <td> {{ operator.lastname }} </td>
                <td> {{ operator.firstname }} </td>
                <td> SUPERIEUR </td>
                <td> STATUT </td>

                <!-- TODO : cases à colorer -->
                {% for formation in tab_formations %}
                    {% if ("GARNIER" == operator.lastname) and ("form_2" == formation) %}
                        <td class="formedValidated"> {{  formation }}</td>
                    {% else %}
                    <td class="learningFormation"> {{ formation }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}
