<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- Live tile on Windows 8+ devices -->
        <!-- <meta name="msapplication-TileColor" content=" #009900" />

        <meta name="msapplication-square150x150logo" content="images/mediumtile.png" />
        <meta name="msapplication-wide310x150logo" content="images/widetile.png" />
        <meta name="msapplication-config" content="winconfig.xml" /> -->
        <title>{% block title %}Cofidur EMS{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Cambria' rel='stylesheet' type='text/css'>
            <link href="{{ asset('bundles/appcofidur/css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>

        <section class="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                    <nav>
                        {% if is_granted('ROLE_USER') %}
                        <p class="connected navigation">
                            Connecté en tant que <b> <a href="{{path('AppCofidurBundle_operator_show', {'idOp': app.user.id})}}">{{ app.user.username }}</a></b>
                        </p>
                        {% endif %}
                        <ul class="navigation menu-deroulant">
                            <li><a href="{{ path('AppCofidurBundle_homepage') }}">Accueil</a></li>
                            {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('AppCofidurBundle_logout') }}">Déconnexion</a></li>
                            {% else %}
                            <li><a href="{{ path('AppCofidurBundle_login') }}">Connexion</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                            <li><a href="/">Divers</a>
                                <ul>
                                    <li><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></li>
                                    <li><a href="{{ path('AppCofidurBundle_operator_show_all') }}">Opérateurs</a></li>
                                    <li><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formations des Opérateurs</a></li>
                                    <li><a href="{{ path('AppCofidurBundle_skillMatrix') }}">Matrice de compétence</a></li>
                                    <li><a href="/register">S'enregistrer</a></li>
                                    {#<li><a href="{{ path('AppCofidurBundle_register') }}">S'enregistrer</a></li>#}
                                    <li><a href="/_error/404">Test 404</a></li>
                                    <li><a href="/_error/403">Test 403</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li><a href="#">Autres</a>
                                <ul>
                                    <li><a href="{{ path('AppCofidurBundle_about') }}">A propos</a></li>
                                    <li><a href="{{ path('AppCofidurBundle_contact') }}">Contact</a></li>
                                    {% if is_granted('ROLE_USER') %}
                                    <li><a href="/profile/change-password">Changer de mot de passe</a></li>
                                    {% endif %}
                                    <li><a href="/profile">Profil</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('AppCofidurBundle_admin') }}">Admin</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% endblock %}
                </div>

                <fieldset class="main_header">
                    <legend>
                        <a href="{{ path('AppCofidurBundle_homepage') }}">
                            <img src="{{ asset('bundles/appcofidur/images/logoCofidurEMS.png') }}" alt="logo_cofidurEMS">
                        </a>
                    </legend>
                    <div>
                        <p>{% block blog_tagline %}Spécialiste des produits et services électroniques depuis un demi-siècle{% endblock %}</p>
                    </div>
                </fieldset>
            </header>

            <aside class="sidebar_nav">
                {% block sidebar_nav %}{% endblock %}
            </aside>

            <div class="content">
                <section class="main-col">
                    {% block body %}{% endblock %}
                </section>

                {% block sidebar_container %}
                <aside class="sidebar">
                    {% block sidebar %}{% endblock sidebar %}
                </aside>
                {% endblock sidebar_container %}
            </div> <!-- Fin content -->

            <div id="footer">
                {% block footer %}
                Site de gestion du personnel et des formations Cofidur EMS par DAVID, DE LEEUW, GARNIER
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
