<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Cofidur EMS{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Cambria' rel='stylesheet' type='text/css'>
            <link href="{{ asset('bundles/AppCofidurBundle/css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon.png">
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation" id="menu-deroulant">
                                <li><a href="{{ path('AppCofidurBundle_homepage') }}">Accueil</a></li>
                                {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('AppCofidurBundle_logout') }}">Déconnexion</a></li>
                                {% else %}
                                <li><a href="/register">S'enregistrer</a></li>
                                {#<li><a href="{{ path('AppCofidurBundle_register') }}">S'enregistrer</a></li>#}
                                <li><a href="{{ path('AppCofidurBundle_login') }}">Connexion</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                <li><a href="#">Divers</a>
                                    <ul>
                                        <li><a href="{{ path('AppCofidurBundle_skillMatrix') }}">Matrice de compétence</a></li>
                                        <li><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></li>
                                        <li><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formations des Opérateurs</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li><a href="#">Autres</a>
                                    <ul>
                                        <li><a href="{{ path('AppCofidurBundle_about') }}">A propos</a></li>
                                        <li><a href="{{ path('AppCofidurBundle_contact') }}">Contact</a></li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('AppCofidurBundle_admin') }}">Admin</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <fieldset class="main_header">
                    <legend>
                        <a href="{{ path('AppCofidurBundle_homepage') }}">
                            <img src="{{ asset('bundles/AppCofidurBundle/images/logoCofidurEMS.png') }}" alt="logo_cofidurEMS">
                        </a>
                    </legend>
                    <div>
                        <h3>{% block blog_tagline %}Spécialiste des produits et services électroniques depuis un demi-siècle{% endblock %}</h3>
                    </div>
                </fieldset>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    Site de gestion du personnel et des formations Cofidur EMS par DAVID, DE LEEUW, GARNIER
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>