{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

<table>
	<tr>
        <th> ID </th>
        <th> PRENOM </th>
        <th> NOM </th>
		{# <th> DATE DE NAISSANCE </th> #}
	</tr>
{% for operator in operators %}
	<tr>
		<td> {{ operator.id }} </td>
        <td> {{ operator.firstName }} </td>
        <td> {{ operator.lastName }} </td>
       {# <td> {{ operator.dateOfBirth |date("m|d|Y") }} </td> #}
	</tr>
{% endfor %}
</table>

<br/>

    <a href="{{ path('AppCofidurBundle_operator_add') }}">Ajouter un opérateur</a>
    
{% endblock %}


{% block sidebar %}
    {% if is_granted('ROLE_USER') %}
	<h2><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></h2>
    {% endif %}
	{% if is_granted('ROLE_ADMIN') %}
    <h2><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formation d'opérateurs</a></h2>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
    <h2><a href="{{ path('AppCofidurBundle_skillMatrix') }}">Matrice de compétence des opérateurs</a></h2>
    {% endif %}
{% endblock sidebar%}

