{% extends 'AppCofidurBundle::Page/Operator/operator.html.twig' %}

{% block sidebar_nav %}
	<h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1> Résumé des compétences de {{ operator.firstname }} {{ operator.lastname }}</h1>

<table>
	<tr>
        <th> ID </th>
        <th> PRENOM </th>
        <th> NOM </th>
		 <th> DATE DE NAISSANCE </th>
	</tr>
	<tr>
		<td> {{ operator.id }} </td>
        <td> {{ operator.firstName }} </td>
        <td> {{ operator.lastName }} </td>
        <td> {{ operator.dateOfBirth |date("d/m/Y")  }} </td>
	</tr>
</table>

{% if operatorsformations %}
	<h3>Légende des couleurs des cadres :</h3>
	<table class="color_legend">
		<tr>
			<th class="text_legende">Code couleur</th>
			<td class="formedNotValidated"></td>
			<td class="learningFormation"></td>
			<td class="futureFormation"></td>
			<td class="formedValidated"></td>
			<td class="formedToTeach"></td>
		</tr>
		<tr>
			<th class="text_legende">Statut</th>
			<td class="text_legende">Formé non habilité</td>
			<td class="text_legende">En Formation</td>
			<td class="text_legende">Prévision Formation</td>
			<td class="text_legende">Habilité</td>
			<td class="text_legende">Habilité à former</td>
		</tr>
	</table>

<h2>Cet opérateur suit les formations suivantes :</h2>
<table class="ope_formations_array">
	{% set sautdeligne= 0 %}
	{% for operatorformation in operatorsformations %}
		{% if sautdeligne is even %}
			<tr>
		{% endif %}

		<td class="ope_formations_array_elem">
			{% if 1 == operatorformation.validation %}
				<fieldset class="formedNotValidated_formation_sumup">
			{% elseif 2 == operatorformation.validation %}
				<fieldset class="learningFormation_formation_sumup">
			{% elseif 3 == operatorformation.validation %}
				<fieldset class="futureFormation_formation_sumup">
			{% elseif 4 == operatorformation.validation %}
				<fieldset class="formedValidated_formation_sumup">
			{% elseif 5 == operatorformation.validation %}
				<fieldset class="formedToTeach_formation_sumup">
			{% else %}
				<fieldset>
			{% endif %}
					<legend class="ope_formations_array_elem_legend">
						<a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorformation.id}) }}">Détails de la formation</a>
					</legend>
					<table class="category_page">
						<tr>
							<th class="entete_category">ID</th>
							<td>{{ operatorformation.formation.id }} </td>
						</tr>
						<tr>
							<th class="entete_category">Nom</th>
							<td>{{ operatorformation.formation.name }} </td>
						</tr>
						<tr>
							<th class="entete_category">Type</th>
							<td title="{{ operatorformation.formation.type }}">{{ operatorformation.formation.type| slice(0,30) }}... </td>
						</tr>
						<tr>
							<th class="entete_category">Objectif</th>
							<td title="{{ operatorformation.formation.goal }}">{{ operatorformation.formation.goal| slice(0,30) }}... </td>
						</tr>
						<tr>
							<th class="entete_category">Moyens pédagogiques</th>
							<td title="{{ operatorformation.formation.teachingAids }}">{{ operatorformation.formation.teachingAids| slice(0,30) }}... </td>
						</tr>
						<tr>
							<th class="entete_category">Lieu & moyens matériels</th>
							<td title="{{ operatorformation.formation.placesMaterialRessources }}">{{ operatorformation.formation.placesMaterialRessources| slice(0,30) }}... </td>
						</tr>
						<tr>
							<th class="entete_category">Criticité</th>
							<td>{{ operatorformation.formation.criticality }} </td>
						</tr>
					</table>
				</fieldset>
		</td>
		{% if sautdeligne is odd %}
			</tr>
		{% endif %}
		{% set sautdeligne= sautdeligne+1 %}
	{% endfor %}
</table>
{% else %}
	<h3>Cet opérateur n'a encore suivi aucune formation</h3>
{% endif %}

{# Formations supervisées par l'opérateur #}
{% if supervisedFormations %}
	<h2>Cet opérateur supervise les formations suivantes :</h2>
	<table class="ope_formations_array">
		{% set sautdeligne= 0 %}
		{% for supervisedFormation in supervisedFormations %}
			{% if sautdeligne is even %}
				<tr>
			{% endif %}

			<td class="ope_formations_array_elem">
				{% if 1 == supervisedFormation.validation %}
				<fieldset class="formedNotValidated_formation_sumup">
					{% elseif 2 == supervisedFormation.validation %}
					<fieldset class="learningFormation_formation_sumup">
						{% elseif 3 == supervisedFormation.validation %}
						<fieldset class="futureFormation_formation_sumup">
							{% elseif 4 == supervisedFormation.validation %}
							<fieldset class="formedValidated_formation_sumup">
								{% elseif 5 == supervisedFormation.validation %}
								<fieldset class="formedToTeach_formation_sumup">
									{% else %}
									<fieldset>
										{% endif %}
										<legend class="ope_formations_array_elem_legend">
											<a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': supervisedFormation.id}) }}">Détails de la formation</a>
										</legend>
										<table class="category_page">
											<tr>
												<th class="entete_category">ID</th>
												<td>{{ supervisedFormation.formation.id }} </td>
											</tr>
											<tr>
												<th class="entete_category">Nom</th>
												<td>{{ supervisedFormation.formation.name }} </td>
											</tr>
											<tr>
												<th class="entete_category">Type</th>
												<td title="{{ supervisedFormation.formation.type }}">{{ supervisedFormation.formation.type| slice(0,30) }}... </td>
											</tr>
											<tr>
												<th class="entete_category">Objectif</th>
												<td title="{{ supervisedFormation.formation.goal }}">{{ supervisedFormation.formation.goal| slice(0,30) }}... </td>
											</tr>
											<tr>
												<th class="entete_category">Moyens pédagogiques</th>
												<td title="{{ supervisedFormation.formation.teachingAids }}">{{ supervisedFormation.formation.teachingAids| slice(0,30) }}... </td>
											</tr>
											<tr>
												<th class="entete_category">Lieu & moyens matériels</th>
												<td title="{{ supervisedFormation.formation.placesMaterialRessources }}">{{ supervisedFormation.formation.placesMaterialRessources| slice(0,30) }}... </td>
											</tr>
											<tr>
												<th class="entete_category">Criticité</th>
												<td>{{ supervisedFormation.formation.criticality }} </td>
											</tr>
										</table>
									</fieldset>
			</td>
			{% if sautdeligne is odd %}
				</tr>
			{% endif %}
			{% set sautdeligne= sautdeligne+1 %}
		{% endfor %}
	</table>
{% else %}
	<h3>Cet opérateur n'a encore supervisé aucune formation</h3>
{% endif %}

{% endblock %}
