{% extends 'AppCofidurBundle::Page/Operator/operator.html.twig' %}

{% block body %}

<table>
	<tr>
        <th> ID </th>
		<th> NOM D'UTILISATEUR </th>
        <th> PRENOM </th>
        <th> NOM </th>
		 <th> DATE DE NAISSANCE </th>
	</tr>
{% for operator in operators %}
	<tr>
		<td> {{ operator.id }} </td>
        <td>
			<a href="{{ path('AppCofidurBundle_operator_show', {'idOp': operator.id}) }}">
				{{ operator.username }}
			</a>
		</td>
		<td> {{ operator.firstName }} </td>
        <td> {{ operator.lastName }} </td>
         <td> {{ operator.dateOfBirth |date("m|d|Y") }} </td>
		<td> <a href="{{ path('AppCofidurBundle_operator_edit',     {'idOp': operator.id}) }}">Editer</a>
		<td> <a href="{{ path('AppCofidurBundle_operator_delete',   {'idOp': operator.id}) }}">Supprimer</a>
	</tr>
{% endfor %}
</table>
<br/>

    <a href="{{ path('AppCofidurBundle_operator_add') }}">Ajouter un opérateur</a>

{% endblock %}
