{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

<table>
	<tr>
		<th> ID </th>
	</tr>
{% for operator in operators %}
	<tr>
		<td> {{ operator.id }} </td>
	</tr>
{% endfor %}
</table>

<br/>

    {# TODO Page d'ajout d'un opérateur 
    <a href="{{ path('AppCofidurBundle_operator_add') }}">Ajouter un opérateur</a>
     #}

{% endblock %}


{% block sidebar %}
    {% if is_granted('ROLE_USER') %}
	<h2><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></h2>
    {% endif %}
	{% if is_granted('ROLE_ADMIN') %}
    <h2><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formation d'opérateurs</a></h2>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
    <h2><a href="{{ path('AppCofidurBundle_skillMatrix') }}">Matrice de compétence des opérateurs</a></h2>
    {% endif %}
{% endblock sidebar%}

