{% extends 'AppCofidurBundle::Page/Operator/operator.html.twig' %}

{% block sidebar_nav %}
	<h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1> Résumé des compétences de {{ operator.firstname }} {{ operator.lastname }}</h1>

<table>
	<tr>
        <th> ID </th>
        <th> PRENOM </th>
        <th> NOM </th>
		 <th> DATE DE NAISSANCE </th>
	</tr>
	<tr>
		<td> {{ operator.id }} </td>
        <td> {{ operator.firstName }} </td>
        <td> {{ operator.lastName }} </td>
        <td> {{ operator.dateOfBirth |date("d/m/Y")  }} </td>
	</tr>
</table>

{% if formations %}
	<h3>Légende des couleurs des cadres :</h3>
	<table class="color_legend">
		<tr>
			<th class="text_legende">Code couleur</th>
			<td class="formedNotValidated"></td>
			<td class="learningFormation"></td>
			<td class="futureFormation"></td>
			<td class="formedValidated"></td>
			<td class="formedToTeach"></td>
		</tr>
		<tr>
			<th class="text_legende">Statut</th>
			<td class="text_legende">Formé non habilité</td>
			<td class="text_legende">En Formation</td>
			<td class="text_legende">Prévision Formation</td>
			<td class="text_legende">Habilité</td>
			<td class="text_legende">Habilité à former</td>
		</tr>
	</table>

<h2>Cet opérateur suit les formations suivantes :</h2>
<table class="ope_formations_array">
	{% set sautdeligne= 0 %}
	{% for formation in formations %}
		{% if sautdeligne is even %}
			<tr>
		{% endif %}

		<td>
			{% set val= 0 %}
			{% for validation in formationsStatus %}
				{% if val == sautdeligne %}
					{% if 1 == validation %}
						<fieldset class="formedNotValidated_formation_sumup">
					{% elseif 2 == validation %}
						<fieldset class="learningFormation_formation_sumup">
					{% elseif 3 == validation %}
						<fieldset class="futureFormation_formation_sumup">
					{% elseif 4 == validation %}
						<fieldset class="formedValidated_formation_sumup">
					{% elseif 4 == validation %}
						<fieldset class="formedToTeach_formation_sumup">
					{% else %}
						<fieldset>
					{% endif %}
				{% endif %}
			{% set val= val+1 %}
			{% endfor %}

				<legend>
					<a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': formation.id}) }}">Détails de la formation</a>
				</legend>
				<table class="category_page">
					<tr>
						<th class="entete_category">ID</th>
						<td>{{ formation.id }} </td>
					</tr>
					<tr>
						<th class="entete_category">Nom</th>
						<td>{{ formation.name }} </td>
					</tr>
					<tr>
						<th class="entete_category">Type</th>
						<td>{{ formation.type }} </td>
					</tr>
					<tr>
						<th class="entete_category">Objectif</th>
						<td>{{ formation.goal }} </td>
					</tr>
					<tr>
						<th class="entete_category">Moyens pédagogiques</th>
						<td>{{ formation.teachingAids }} </td>
					</tr>
					<tr>
						<th class="entete_category">Lieu & moyens matériels</th>
						<td>{{ formation.placesMaterialRessources }} </td>
					</tr>
					<tr>
						<th class="entete_category">Criticité</th>
						<td>{{ formation.criticality }} </td>
					</tr>
				</table>
			</fieldset>
		</td>
		{% if sautdeligne is odd %}
			</tr>
		{% endif %}
		{% set sautdeligne= sautdeligne+1 %}
	{% endfor %}
</table>
{% else %}
	<h3>Cet opérateur n'a suivi aucune formation jusqu'à maintenant</h3>
{% endif %}

{% endblock %}
