{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}
	<script type="text/javascript">
		function validated_task(){
			alert('Tache validee !');
		}
	</script>
	<div class="">
		<table class="category_page">
			<tr>
			<td class="entete_category">ID</td><td>{{ formation.id }} </td>
		</tr>
			<tr>
			<td class="entete_category">Name</td><td>{{ formation.name }} </td>
		</tr>
			<tr>
			<td class="entete_category">Type</td><td>{{ formation.type }} </td>
		</tr>
			<tr>
			<td class="entete_category">Objectif</td><td>{{ formation.goal }} </td>
		</tr>
			<tr>
			<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.teachingAids }} </td>
		</tr>
			<tr>
			<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.placesMaterialRessources }} </td>
		</tr>
			<tr>
			<td class="entete_category">Criticité</td><td>{{ formation.criticality }} </td>
		</tr>
		</table>
	</div>

	{{ operator.name }}

	{% for category in formation.categories %}
		<br/>
		<fieldset class="category">
		<legend class="category_title">
			Catégorie : {{ category.name }} ({{ category.ordre }})
		</legend>
		<table class="task_tab">
			<tr>
				<td class="task_name">Nom tache</td>
				<td class="task_order">Ordre tache</td>
			</tr>
			{% for task in category.tasks %}
					<tr>
						<td>{{ task.name }}</td>
						<td>{{ task.ordre }}</td>
						<td>
							<div class="task_validator">
								<input type="checkbox" name="accepter" value="accepter" id="accepter">
								<label for="accepted"></label>
								<button onclick='validated_task()'>Accepter</button>
							</div>
						</td>
					</tr>
			{% endfor %}
		</table>
		<br/>

		<a href="{{ path('AppCofidurBundle_task_add', {'idCat': category.id}) }}">Ajouter une tache</a>

	</fieldset>
{% endfor %}
{% endblock %}

{% block sidebar %}
	<fieldset class="category">
		<legend class="category_title">
			<div>
				Formation :
			</div>
		</legend>
		<ul>
			<li>
				<a href="{{ path('AppCofidurBundle_formation_edit', {'idForm': formation.id}) }}">Éditer</a>
			</li>
			<li>
				<a href="{{ path('AppCofidurBundle_formation_delete', {'idForm': formation.id}) }}">Supprimer</a>
			</li>
		</ul>
	</fieldset>
	<fieldset class="category">
		<legend class="category_title">
			Catégorie :
		</legend>
		<ul>
			<li>
				<a href="{{ path('AppCofidurBundle_category_add', {'idForm': formation.id}) }}">Ajouter une catégorie</a>
			</li>
		</ul>
	</fieldset>
{% endblock %}