{% extends 'AppCofidurBundle::Page/OperatorFormation/operatorformation.html.twig' %}

{% block body %}
	<h1>Affichage de toutes les formations d'opérateurs</h1>


<script src="{{ asset('bundles/appcofidur/js/sorttable.js') }}"></script>

	<input type="button" value="Faire passer une formation à un opérateur " onclick="{window.location.href='{{ path('AppCofidurBundle_operatorformation_add') }}'}">
    <br/>
	<br/>

    <table class="sortable">
	<tr>
		<th> UTILISATEUR </th>
		<th> FORMATION </th>
		<th> DEBUT </th>
		<th> FIN </th>
        <th> VALIDITE</th>
		<th> COMMENTAIRE </th>
		<th> FORMATEUR </th>
	</tr>
{% for operatorformation in operatorsformations %}
	<tr>
		<td>
			<a href="{{ path('AppCofidurBundle_operator_show', {'idOp': operatorformation.operator.id}) }}">
				{{ operatorformation.operator.username }}
			</a>
		</td>
		<td>
			<a href="{{ path('AppCofidurBundle_formation_show', {'idForm': operatorformation.formation.id}) }}">
				{{ operatorformation.formation.name }}
			</a>
		</td>
		<td> {{ operatorformation.dateBegin|date("m/d/Y")}} </td>
		<td> {{ operatorformation.dateEnd|date("m/d/Y") }} </td>
		{% if operatorformation.validation == 1 %}
		<td><i>Invalidée</i>
		{% elseif operatorformation.validation == 2 %}
		<td><i>En cours</i>
		{% elseif operatorformation.validation == 3 %}
		<td><i>Prévue</i>
		{% else %}
			{% if operatorformation.formation.validityTime > 0 %}
				{% if operatorformation.getRemainingTime() > 0 %}
		<td>{{ operatorformation.getRemainingTime() }} jour(s)
				{% else  %}
		<td class="error">Pas ou plus valide
				{% endif %}
			{% else %}
		<td><i>Permanente</i>
			{% endif %}
		{% endif %}
		{% if operatorformation.validation == 5 %}
			<b>(F)</b>
		{% endif %}
		</td>
		<td> {{ operatorformation.commentary }} </td>
		<td> {{ operatorformation.former.username}} </td>
		<td class="button">
			<input type="button" value="Afficher" onclick="{window.location.href='{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorformation.id}) }}'}">
		</td>
		<td class="button">
			<input type="button" value="Editer" onclick="{window.location.href='{{ path('AppCofidurBundle_operatorformation_edit', {'idOpForm': operatorformation.id}) }}'}">
		</td>
		<td class="button">
			<input type="button" value="Supprimer"
				   onclick="if(confirm('Supprimer la catégorie ?')){
						   window.location.href='{{ path('AppCofidurBundle_operatorformation_delete', {'idOpForm': operatorformation.id}) }}'
						   }">
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}

{% block sidebar_container %}
{# Supprime la sidebar #}
{% endblock %}
