{% extends 'AppCofidurBundle::Page/OperatorFormation/operatorformation.html.twig' %}

{% block body %}
	<script type="text/javascript">
		function show_details(indice_category){
			var details_block= document.getElementById("operatorformation_informations".concat(indice_category));
			var details_button= document.getElementById("details".concat(indice_category));

			if(details_block.style.display == "none"){
				details_block.style.display= "block";
			} else {
				details_block.style.display= "none";
			}
		}
		function validate_task(id_task_button){
			var task_button= document.getElementById(id_task_button);
//			task_button.style.display= "none";
		}
	</script>

	<h1 class="page_title">Formation d'un opérateur</h1>

	<!-- idOperator, idFormation, dateBegin, dateEnd, validation, commentary, idFormer-->
	<fieldset class="operatorformation_sumup">
		<legend> Formation operateur </legend>
		<table class="operatorformation_ids">
			<tr>
				<th>ID operateur</th>
				<td> {{ operatorformation.idOperator }}</td>
			</tr>
			<tr>
				<th>ID formation</th>
				<td> {{ operatorformation.idFormation}}</td>
			</tr>
			<tr>
				<th>ID formateur</th>
				<td> {{ operatorformation.idFormer }}</td>
			</tr>
		</table>
		<table class="operatorformation_dates">
			<tr>
				<th>Date de début</th>
				<td> {{ operatorformation.dateBegin|date("m/d/Y")}}</td>
			</tr>
			<tr>
				<th>Date de fin</th>
				<td> {{ operatorformation.dateEnd|date("m/d/Y") }}</td>
			</tr>
		</table>

	</fieldset>
	<fieldset class="operatorformation_sumup">
		<legend>Résumé de la formation</legend>
		<table class="category_page">
			<tr>
				<th class="entete_category">ID</th>
				<th class="entete_category">Name</th>
				<th class="entete_category">Type</th>
				<th class="entete_category">Objectif</th>
				<th class="entete_category">Moyens pédagogiques</th>
				<th class="entete_category">Lieu & moyens matériels</th>
				<th class="entete_category">Criticité</th>
			</tr>
			<tr>
				<td>{{ formation.id }} </td>
				<td>{{ formation.name }} </td>
				<td>{{ formation.type }} </td>
				<td>{{ formation.goal }} </td>
				<td>{{ formation.teachingAids }} </td>
				<td>{{ formation.placesMaterialRessources }} </td>
				<td>{{ formation.criticality }} </td>
			</tr>
		</table>
	</fieldset>
	<fieldset class="operatorformation_sumup">
		<legend>Résumé de l'opérateur</legend>
		<table class="category_page">
			<tr>
				<th class="entete_category">ID</th>
				<th class="entete_category">Nom</th>
				<th class="entete_category">Prénom</th>
				{#<th class="entete_category">Date de naissance</th>#}
			</tr>
			<tr>
				<td>{{ operator.id }} </td>
				<td>{{ operator.firstname }} </td>
				<td>{{ operator.lastname }} </td>
				{#<td>{{ operator.dateofbirth }} </td>#}
			</tr>
		</table>
	</fieldset>

	{% set indice_category= 1 %}
	{% for category in formation.categories %}
		{% set validated_category="" %}
		<!-- A afficher si la categorie est validée -->
		{% for opeCat in operatorformation.operatorcategories %}
			{% if category.id == opeCat.idCategory %}
					<br/>
		<fieldset class="category">
		<legend class="category_title">
			Catégorie : {{ category.name }} ({{ category.ordre }})
		</legend>

		<!-- div propre -->
		<div class="operatorformation_task_tab">
			<table>
				<tr>
					<td class="task_name">Nom tache</td>
					<td class="task_order">Ordre tache</td>
				</tr>
				{% set task_nb= 1 %}
				{% for task in category.tasks %}
					{% set task_found= 0 %}
						<tr>
							<td>{{ task.name }}</td>
							<td>{{ task.ordre }}</td>
							{% for opeTask in opeCat.operatortasks %}
								{% if opeTask.idTask == task.id %}
									{% set task_found= 1 %}
									<td>
										Tache validée !
									</td>
									<td>
										<a href="{{ path('AppCofidurBundle_operatortask_delete', {'idOpForm': operatorformation.id, 'idCategory': category.id, 'idTask': task.id}) }}">
											Invalider tache
										</a>
									</td>
								{% endif %}
							{% endfor %}
							{% if task_found == 0 %}
								<td>
									<div class="task_validator">
										<a href="{{ path('AppCofidurBundle_operatortask_add', {'idOpForm': operatorformation.id, 'idCategory': category.id, 'idTask': task.id 	}) }}">
											<button id="validateTask{{ indice_category }}{{ task_nb }}" onclick="validate_task(this.id)">Valider</button>
										</a>
									</div>
								</td>
							{% endif %}
						</tr>
				{% endfor %}
			</table>
		</div>

		<!-- div propre -->
		<div id="operatorformation_informations{{ indice_category }}" class="operatorformation_informations">
			<table>
				<tr>
					<th>ID Catégorie</th>
					<td>{{ category.id }}</td>
				</tr>
				<tr>
					<th>Date signature</th>
					<td>{{ opeCat.dateSignature|date("m/d/Y") }}</td>
				</tr>
				<tr>
					<th>Signature</th>
					<td>{{ opeCat.signature }}</td>
				</tr>
				<tr>
					<th>Nombre d'heures</th>
					<td>{{ opeCat.nbHours|date("H:i")}}</td>
				</tr>
				<tr>
					<th>ID formateur</th>
					<td>{{ opeCat.idTrainer }}</td>
				</tr>
			</table>
		</div>

		<div>
			<fieldset>
				<legend>
					{% if opeCat.signature != null %}
						{% set validated_category= true %}
						Catégorie validée !
						<br/>
					{% endif %}
	{% endif %}
	{% endfor %}

					{% if not validated_category %}
						<a href="{{ path('AppCofidurBundle_operatorcategory_edit', {'idOpForm': operatorformation.id, 'idCategory': category.id}) }}">
							<button id="validate">Valider la catégorie</button>
						</a>
						<br/>
					{% endif %}
				</legend>
				{% if validated_category %}
					<table class="modif_category">
						<tr>
							<td>
								<a href="{{ path('AppCofidurBundle_operatorcategory_edit', {'idOpForm': operatorformation.id, 'idCategory': category.id}) }}">EDITER</a>
							</td>
							<td>
								<a href="{{ path('AppCofidurBundle_operatorcategory_delete', {'idOpForm': operatorformation.id, 'idCategory': category.id}) }}">SUPPRIMER</a>
							</td>
						</tr>
					</table>
					<button id="details{{ indice_category }}" name="details" value="details" onclick="show_details({{ indice_category }}, this.id)">Détails</button>
				{% endif %}
			</fieldset>
		</div>
		</fieldset>
		{% set indice_category= indice_category+1 %}
{% endfor %}
{% endblock %}