{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

<table>
	<tr>
		<th> ID </th>
		<th> ID OPERATOR </th>
		<th> ID FORMATION </th>
		<th> DATE DEBUT </th>
		<th> DATE FIN </th>
		<th> VALIDATION </th>
		<th> COMMENTAIRE </th>
		<th> ID FORMATEUR </th>
	</tr>
{% for operatorformation in operatorsformations %}
	<tr>
		<td> <a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorformation.id}) }}">{{ operatorformation.id }}</a> </td>
		<td> {{ operatorformation.idOperator }}</td>
		<td> {{ operatorformation.idFormation }} </td>
		<td> {{ operatorformation.dateBegin|date("m/d/Y")}} </td>
		<td> {{ operatorformation.dateEnd|date("m/d/Y") }} </td>
		<td> {{ operatorformation.validation }} </td>
		<td> {{ operatorformation.commentary }} </td>
		<td> {{ operatorformation.idFormer}} </td>
		<td>
			<a href="{{ path('AppCofidurBundle_operatorformation_edit', {'idOpForm': operatorformation.id}) }}">
				<button id="edit"> Edit </button>
			</a>
		</td>
		<td>
			<a href="{{ path('AppCofidurBundle_operatorformation_delete', {'idOpForm': operatorformation.id}) }}">
				<button id="delete">Supprimer</button>
			</a>
		</td>
	</tr>
{% endfor %}
</table>

<br/>
<a href="{{ path('AppCofidurBundle_operatorformation_add') }}">Faire passer une formation à un opérateur </a>

{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_USER') %}
	<h2><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></h2>
	<h2><a href="{{ path('AppCofidurBundle_operator_show_all') }}">Opérateurs</a></h2>
    <h2><a href="{{ path('AppCofidurBundle_skillMatrix') }}">Matrice de compétence des opérateurs</a></h2>
    {% endif %}
{% endblock %}