{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

    <table>
        <tr>
            <td class="text_in_bottom">
                ID
            </td>
            <td class="text_in_bottom">
                LAST NAME
            </td>
            <td class="text_in_bottom">
                FIRST NAME
            </td>
            <td class="text_in_bottom">
                SUPERIEUR
            </td>
            <td class="verticalite">
                <div>
                    <span>COFIDUR / INTERIM</span>
                </div>
            </td>

            <!-- Tous les types de formations -->
            {% for formation in formations %}
                <td class="verticalite">
                    <div>{{ formation.name }}</div>
                </td>
            {% endfor %}

        </tr>

        {% for operator in operators %}
            <tr>
                <td>
                    {{ operator.id }}
                </td>
                <td>
                    {{ operator.lastname }}
                </td>
                <td>
                    {{ operator.firstname }}
                </td>
                <td>
                    SUPERIEUR
                    {#<!-- {{operator.superior.username}} -->#}
                </td>
                <td>
                    STATUT
                </td>

                <!-- TODO : cases à colorer -->
                {% for formation in formations %}
                    {% set caseCompleted = "false" %}
                    {% for formationValidation in formationsValidation %}
                        {% if ((operator.id == formationValidation[0]) and (formation.id == formationValidation[1])) %}
                            {% if 1 == formationValidation[2] %}
                                <td class="formedNotValidated">
                                    {{ formationValidation[2] }}
                                </td>
                            {% elseif 2 == formationValidation[2] %}
                                <td class="learningFormation">
                                    {{ formationValidation[2] }}
                                </td>
                            {% elseif 3 == formationValidation[2] %}
                                <td class="futureFormation">
                                    {{ formationValidation[2] }}
                                </td>
                            {% elseif 4 == formationValidation[2] %}
                                <td class="formedValidated">
                                    {{ formationValidation[2] }}
                                </td>
                            {% elseif 5 == formationValidation[2] %}
                                <td class="formedToTeach">
                                    {{ formationValidation[2] }}
                                </td>
                            {% endif %}
                            {% set caseCompleted = "true" %}
                        {% endif %}
                    {% endfor %}
                    {% if ("false" == caseCompleted) %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block sidebar %}
    <h1>Légende des couleurs :</h1>
    <br/>
    <table class="color_legend">
        <tr>
            <td class="text_legende">Code couleur</td>
            <td class="text_legende">Statut</td>
        </tr>
        <tr>
            <td class="formedNotValidated"></td>
            <td class="text_legende">Formé non habilité</td>
        </tr>
        <tr>
            <td class="learningFormation"></td>
            <td class="text_legende">En Formation</td>
        </tr>
        <tr>
            <td class="futureFormation"></td>
            <td class="text_legende">Prévision Formation</td>
        </tr>
        <tr>
            <td class="formedValidated"></td>
            <td class="text_legende">Habilité</td>
        </tr>
        <tr>
            <td class="formedToTeach"></td>
            <td class="text_legende">Habilité à former</td>
        </tr>

    </table>
{% endblock %}

{% block sidebar_nav %}
    {% if is_granted('ROLE_USER') %}
    <h2><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></h2>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <h2><a href="{{ path('AppCofidurBundle_operator_show_all') }}">Opérateurs</a></h2>
    <h2><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formation d'opérateurs</a></h2>
    {% endif %}
{% endblock %}
