{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}
<script src="{{ asset('bundles/AppCofidurBundle/js/sorttable.js') }}"></script>

    <table class="sortable">
        <tr>
            <th class="text_in_bottom">
                Matricule
            </th>
            <th class="text_in_bottom">
                Nom
            </th>
            <th class="text_in_bottom">
                Prénom
            </th>
            <th class="text_in_bottom">
                Superieur N+1
            </th>            
            <th class="text_in_bottom">
                Superieur N+2
            </th>
            <th class="text_in_bottom">
                <div>
                    <span>Statut</span>
                </div>
            </th>

            <!-- Tous les types de formations -->
            {% for formation in formations %}
                <th class="verticalite" title="{{formation.name}}">
                    <div>{{ formation.name| slice(0,15) }}...</div>
                </th>
            {% endfor %}

        </tr>

        {% for operator in operators %}
            <tr>
                <td>
                    <a href="{{ path('AppCofidurBundle_operator_show', {'idOp': operator.id}) }}">{{ operator.id }}</a>
                </td>
                <td>
                    <a href="{{ path('AppCofidurBundle_operator_show', {'idOp': operator.id}) }}">{{ operator.lastname }}</a>
                </td>
                <td>
                    <a href="{{ path('AppCofidurBundle_operator_show', {'idOp': operator.id}) }}">{{ operator.firstname }}</a>
                </td>
                <td>
                    SUP+1
                    {#<!-- {{operator.superior.username}} -->#}
                </td>
                <td>
                    SUP+2
                    {#<!-- {{operator.superior.username}} -->#}
                </td>
                <td>
                    STATUT
                </td>

                <!-- TODO : cases à colorer -->
                {% for formation in formations %}
                    {% set caseCompleted = "false" %}
                    {% for formationValidation in formationsValidation %}
                        {% set operatorId= formationValidation[0] %}
                        {% set formationId= formationValidation[1] %}
                        {% set validationValue= formationValidation[2] %}
                        {% set operatorsformationsId= formationValidation[3] %}

                        {% if ((operator.id == operatorId) and (formation.id == formationId)) %}
                            {% if 1 == formationValidation[2] %}
                                <td class="formedNotValidated">
                                    <a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorsformationsId}) }}">
                                        {{ formationValidation[2] }}
                                    </a>
                                </td>
                            {% elseif 2 == formationValidation[2] %}
                                <td class="learningFormation">
                                    <a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorsformationsId}) }}">
                                        {{ formationValidation[2] }}
                                    </a>
                                </td>
                            {% elseif 3 == formationValidation[2] %}
                                <td class="futureFormation">
                                    <a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorsformationsId}) }}">
                                        {{ formationValidation[2] }}
                                    </a>
                                </td>
                            {% elseif 4 == formationValidation[2] %}
                                <td class="formedValidated">
                                    <a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorsformationsId}) }}">
                                        {{ formationValidation[2] }}
                                    </a>
                                </td>
                            {% elseif 5 == formationValidation[2] %}
                                <td class="formedToTeach">
                                    <a href="{{ path('AppCofidurBundle_operatorformation_show', {'idOpForm': operatorsformationsId}) }}">
                                        {{ formationValidation[2] }}
                                    </a>
                                </td>
                            {% endif %}
                            {% set caseCompleted = "true" %}
                        {% endif %}
                    {% endfor %}
                    {% if ("false" == caseCompleted) %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block sidebar %}
    <h1>Légende des couleurs :</h1>
    <br/>
    <table class="color_legend">
        <tr>
            <th class="text_legende">Code couleur</th>
            <th class="text_legende">Statut</th>
        </tr>
        <tr>
            <td class="formedNotValidated"></td>
            <td class="text_legende">Formé non habilité</td>
        </tr>
        <tr>
            <td class="learningFormation"></td>
            <td class="text_legende">En Formation</td>
        </tr>
        <tr>
            <td class="futureFormation"></td>
            <td class="text_legende">Prévision Formation</td>
        </tr>
        <tr>
            <td class="formedValidated"></td>
            <td class="text_legende">Habilité</td>
        </tr>
        <tr>
            <td class="formedToTeach"></td>
            <td class="text_legende">Habilité à former</td>
        </tr>

    </table>
{% endblock %}

{% block sidebar_nav %}
    {% if is_granted('ROLE_USER') %}
    <h2><a href="{{ path('AppCofidurBundle_formation_show_all') }}">Formations</a></h2>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <h2><a href="{{ path('AppCofidurBundle_operator_show_all') }}">Opérateurs</a></h2>
    <h2><a href="{{ path('AppCofidurBundle_operatorformation_show_all') }}">Formation d'opérateurs</a></h2>
    {% endif %}
{% endblock %}
