{% extends 'AppCofidurBundle::Page/Formation/formation.html.twig' %}

{% block sidebar_nav %}
	<h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Affichage d'une formation</h1>

{% set AERONAUTIC= 1 %}
{% set ALUMINIUM= 2 %}
{% set PCB= 3 %}
{% set EMS= 4 %}
{% set ENVIRONMENT= 5 %}
{% set ECOLOGY= 6 %}

	<table class="category_page">
		<tr>
			<td class="entete_category">ID</td><td>{{ formation.id }} </td>
		</tr>
		<tr>
			<td class="entete_category">Nom</td><td>{{ formation.name }} </td>
		</tr>
		<tr>
			<td class="entete_category">Type</td><td>{{ formation.type }} </td>
		</tr>
		<tr>
			<td class="entete_category">Objectif</td><td>{{ formation.goal }} </td>
		</tr>
		<tr>
			<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.teachingAids }} </td>
		</tr>
		<tr>
			<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.placesMaterialRessources }} </td>
		</tr>
		<tr>
			<td class="entete_category">Temps de validation</td><td>{{ formation.validityTime }} </td>
		</tr>
		<tr>
			<td class="entete_category">Criticité</td><td>{{ formation.criticality }} </td>
		</tr>
	</table>

	{% for category in formation.categories %}
		{% include 'AppCofidurBundle::Page/Category/category_show.html.twig' %}
    {% endfor %}
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}
	{% block sidebar %}

		<fieldset class="category">
			<legend class="category_title">
				<div>
					Formation :
				</div>
			</legend>
			<ul>
				<li>
					<input type="button" value="Editer" onclick="{window.location.href='{{ path('AppCofidurBundle_formation_edit', {'idForm': formation.id}) }}'}">
				</li>
				<li>
					<input type="button" value="Supprimer"
						   onclick="if(confirm('Supprimer la formation ?')){
								   window.location.href='{{ path('AppCofidurBundle_formation_delete', {'idForm': formation.id}) }}'
								   }">
				</li>
			</ul>
		</fieldset>
		<fieldset class="category">
			<legend class="category_title">
				Catégorie :
			</legend>
			<ul>
				<li>
					<a href="{{ path('AppCofidurBundle_category_add', {'idForm': formation.id}) }}">Ajouter une catégorie</a>
				</li>
			</ul>
		</fieldset>
	{% endblock sidebar %}

{% else %}
	{% block sidebar_container %}{% endblock sidebar_container %}
{% endif %}
