{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

<table>
	<tr>
		<th> ID </th>
		<th> NOM </th>
		<th> DESCRIPTION </th>
	</tr>
{% for formation in formations %}
	<tr>
		<td> {{ formation.id }} </td>
		<td> {{ formation.name }} </td>
		<td> {{ formation.description }} </td>
		<td> <a href="{{ path('AppCofidurBundle_formation_edit', {'id': formation.id}) }}">Editer</a>
		<td> <a href="{{ path('AppCofidurBundle_formation_delete', {'id': formation.id}) }}">Supprimer</a>
	</tr>
{% endfor %}
</table>

<br/>
<a href="{{ path('AppCofidurBundle_formation_add') }}">Ajouter une formation</a>

{% endblock %}
