{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}
<table class="category_page">
	<tr>
		<td class="entete_category">ID</td><td>{{ formation.id }} </td>
	</tr>
	<tr>
		<td class="entete_category">Name</td><td>{{ formation.name }} </td>
	</tr>
	<tr>
		<td class="entete_category">Type</td><td>{{ formation.typeFormation }} </td>
	</tr>
	<tr>
		<td class="entete_category">Objectif</td><td>{{ formation.objectif }} </td>
	</tr>
	<tr>
		<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.moyensPedagogiques }} </td>
	</tr>
	<tr>
		<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.lieuMoyensMateriels }} </td>
	</tr>
	<tr>
		<td class="entete_category">Criticité</td><td>{{ formation.criticite }} </td>
	</tr>
</table>


{% for categorie in categories %}
	<fieldset class="category">
		<legend>
			<h2>Catégorie : {{ categorie.nom }} ({{categorie.ordre}}) </h2>
		</legend>
		<table class="task_tab">
			<tr>
				<td class="task_name">Nom tache</td><td class="task_order">Ordre tache</td>
			</tr>
			{% for tache in taches %}
				{% if tache.idCategorie == categorie.id %}
					<tr>
						<td class="task_name">{{tache.nom}}</td><td class="task_order">{{tache.ordre}}</td>
					</tr>
				{%endif%}
			{% endfor %}
		</table>

		<a href="{{ path('AppCofidurBundle_tache_add', {'idCat': categorie.id}) }}">Ajouter une tache...</a>
		<br/>

	</fieldset>
{% endfor %}

{#<!--	<a href="{{ path('AppCofidurBundle_tache_delete', {'idTache': tache.id}) }}">Supprimer une tache...</a>-->#}

	<br/>
<a href="{{ path('AppCofidurBundle_categorie_add', {'idForm': formation.id}) }}">Ajouter une catégorie à la formation...</a>

{% endblock %}

