{% extends 'AppCofidurBundle::Page/Formation/formation.html.twig' %}


{% block body %}
	<table class="category_page">
		<tr>
		<td class="entete_category">ID</td><td>{{ formation.id }} </td>
	</tr>
		<tr>
		<td class="entete_category">Name</td><td>{{ formation.name }} </td>
	</tr>
		<tr>
		<td class="entete_category">Type</td><td>{{ formation.type }} </td>
	</tr>
		<tr>
		<td class="entete_category">Objectif</td><td>{{ formation.goal }} </td>
	</tr>
		<tr>
		<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.teachingAids }} </td>
	</tr>
		<tr>
		<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.placesMaterialRessources }} </td>
	</tr>
		<tr>
		<td class="entete_category">Criticité</td><td>{{ formation.criticality }} </td>
	</tr>
	</table>

	{% for category in formation.categories %}
		<br/>
		<fieldset class="category">
		<legend class="category_title">
			Catégorie : {{ category.name }} ({{ category.ordre }})
			<a href="{{ path('AppCofidurBundle_category_edit', {'idCat': category.id}) }}">Éditer</a>
			<a href="{{ path('AppCofidurBundle_category_delete', {'idCat': category.id}) }}">Supprimer</a>
		</legend>
		<table class="task_tab">
			<tr>
				<td class="task_name">Nom task</td>
				<td class="task_order">Ordre task</td>
			</tr>
			{% for task in category.tasks %}
					<tr>
						<td>{{ task.name }}</td>
						<td>{{ task.ordre }}</td>
						<td>
							<a href="{{ path('AppCofidurBundle_task_edit', {'idTask': task.id}) }}">
								Éditer
							</a>
						</td>
						<td>
							<a href="{{ path('AppCofidurBundle_task_delete', {'idTask': task.id}) }}">
								Supprimer
							</a>
						</td>
					</tr>
			{% endfor %}
		</table>
		<br/>

			<a href="{{ path('AppCofidurBundle_task_add', {'idCat': category.id}) }}">Ajouter une task</a>

	</fieldset>
{% endfor %}
{% endblock %}

{% block sidebar %}

<h2><a href="javascript:history.go(-1)">Retour</a></h2>

	<fieldset class="category">
		<legend class="category_title">
			<div>
				Formation :
			</div>
		</legend>
		<ul>
			<li>
				<a href="{{ path('AppCofidurBundle_formation_edit', {'idForm': formation.id}) }}">Éditer</a>
			</li>
			<li>
				<a href="{{ path('AppCofidurBundle_formation_delete', {'idForm': formation.id}) }}">Supprimer</a>
			</li>
		</ul>
	</fieldset>
	<fieldset class="category">
		<legend class="category_title">
			Catégorie :
		</legend>
		<ul>
			<li>
				<a href="{{ path('AppCofidurBundle_category_add', {'idForm': formation.id}) }}">Ajouter une catégorie</a>
			</li>
		</ul>
	</fieldset>
{% endblock %}