{% extends 'AppCofidurBundle::Page/Formation/formation.html.twig' %}

{% block sidebar_container %}{% endblock %}

{% block body %}
	<h1>Affichage de toutes les formations</h1>

<script src="{{ asset('bundles/AppCofidurBundle/js/sorttable.js') }}"></script>

<table class="sortable">
	<tr>
		<th> ID </th>
		<th> NOM </th>
		<th> TYPE </th>
		<th> OBJECTIF </th>
		<th> MOYENS PEDAGOGIQUES </th>
		<th> MOYENS MATERIELS </th>
		<th> CRITICITE </th>
	</tr>
{% for formation in formations %}
	<tr>
		<td> {{ formation.id }} </td>
		<td> {{ formation.name }} </td>
		<td title="{{formation.type}}"> {{ formation.type| slice(0,30) }}... </td>
		<td title="{{formation.goal}}"> {{ formation.goal| slice(0,30)  }}... </td>
		<td title="{{formation.teachingAids}}"> {{ formation.teachingAids| slice(0,30)  }}... </td>
		<td title="{{formation.placesMaterialRessources}}"> {{ formation.placesMaterialRessources| slice(0,30)  }}... </td>
		<td> {{ formation.criticality }} </td>
		<td><a href="{{ path('AppCofidurBundle_formation_show', {'idForm': formation.id}) }}">Afficher</a><br/>
			<br/>
			{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('AppCofidurBundle_formation_edit', {'idForm': formation.id}) }}">Editer</a><br/>
			<br/>
			<a href="{{ path('AppCofidurBundle_formation_delete', {'idForm': formation.id}) }}">Supprimer</a><br/>
			<br/>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

<br/>
<a href="{{ path('AppCofidurBundle_formation_add') }}">Ajouter une formation</a>

{% endblock %}
