{% extends 'AppCofidurBundle::Page/Formation/formation.html.twig' %}

{% block sidebar_nav %}
	<h2><em><a href="javascript:history.go(-1)">Retour</a></em></h2>
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Affichage d'une formation</h1>

{% set AERONAUTIC= 1 %}
{% set ALUMINIUM= 2 %}
{% set PCB= 3 %}
{% set EMS= 4 %}
{% set ENVIRONMENT= 5 %}
{% set ECOLOGY= 6 %}

	<table class="category_page">
		<tr>
			<td class="entete_category">ID</td><td>{{ formation.id }} </td>
		</tr>
		<tr>
			<td class="entete_category">Nom</td><td>{{ formation.name }} </td>
		</tr>
		<tr>
			<td class="entete_category">Type</td><td>{{ formation.type }} </td>
		</tr>
		<tr>
			<td class="entete_category">Objectif</td><td>{{ formation.goal }} </td>
		</tr>
		<tr>
			<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.teachingAids }} </td>
		</tr>
		<tr>
			<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.placesMaterialRessources }} </td>
		</tr>
		<tr>
			<td class="entete_category">Temps de validation</td><td>{{ formation.validityTime }} </td>
		</tr>
		<tr>
			<td class="entete_category">Criticité</td><td>{{ formation.criticality }} </td>
		</tr>
	</table>

	{% for category in formation.categories %}
	<br/>

    <fieldset
        {% if AERONAUTIC == formation.type %}   class="aeronautic" {% endif %}
        {% if ALUMINIUM == formation.type %}    class="aluminium" {% endif %}
        {% if PCB == formation.type %}          class="aluminium" {% endif %}
        {% if EMS == formation.type %}          class="EMS" {% endif %}
        {% if ENVIRONMENT == formation.type %}  class="environment" {% endif %}
        {% if ECOLOGY == formation.type %}      class="ecology" {% endif %}
        id="fieldset_cat_{{ category.id }}">

		<legend class="category_title">
			Catégorie : {{ category.name }}
			<input type="button" value="Editer" onclick="{window.location.href='{{ path('AppCofidurBundle_category_edit', {'idCat': category.id}) }}#fieldset_cat_{{ category.id }}'}">
			<input type="button" value="Supprimer"
				   onclick="if(confirm('Supprimer la catégorie ?')){
						   window.location.href='{{ path('AppCofidurBundle_category_delete', {'idCat': category.id}) }}#fieldset_cat_{{ category.id -1 }}'
						   }">
		</legend>
		<table class="task_tab">
			<tr>
				<th class="task_name">Nom de la tâche</th>
			</tr>
			{% for task in category.tasks %}
			<tr>
				<td rowspan="2" >{{ task.name }}</td>
				<td rowspan="2" >
					<a href="{{ path('AppCofidurBundle_task_edit', {'idTask': task.id}) }}#fieldset_cat_{{ category.id }}">
						Éditer
					</a>
				</td>
				<td rowspan="2" >
					<a href="{{ path('AppCofidurBundle_task_delete', {'idTask': task.id}) }}#fieldset_cat_{{ category.id }}">
						Supprimer
					</a>
				</td>
				<td class="button" rowspan="1">
					<a href="{{ path('AppCofidurBundle_task_up', {'idTask': task.id}) }}#fieldset_cat_{{ category.id }}">
						<button class="move up">up</button>
					</a>
				</td>
			</tr>
			<tr>
				<td class="button" rowspan="1">
					<a href="{{ path('AppCofidurBundle_task_down', {'idTask': task.id}) }}#fieldset_cat_{{ category.id }}">
						<button class="move down">down</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<br/>
		<a href="{{ path('AppCofidurBundle_category_up', {'idCat': category.id}) }}#fieldset_cat_{{ category.id }}">
			<button class="move up">up</button>
		</a>
		<a href="{{ path('AppCofidurBundle_category_down', {'idCat': category.id}) }}#fieldset_cat_{{ category.id }}">
			<button class="move down">down</button>
		</a>
		<br/><br/>

		<a href="{{ path('AppCofidurBundle_task_add', {'idCat': category.id}) }}#fieldset_cat_{{ category.id }}">Ajouter une tâche</a>

	</fieldset>
{% endfor %}
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}
	{% block sidebar %}

		<fieldset class="category">
			<legend class="category_title">
				<div>
					Formation :
				</div>
			</legend>
			<ul>
				<li>
					<input type="button" value="Editer" onclick="{window.location.href='{{ path('AppCofidurBundle_formation_edit', {'idForm': formation.id}) }}'}">
				</li>
				<li>
					<input type="button" value="Supprimer"
						   onclick="if(confirm('Supprimer la formation ?')){
								   window.location.href='{{ path('AppCofidurBundle_formation_delete', {'idForm': formation.id}) }}'
								   }">
				</li>
			</ul>
		</fieldset>
		<fieldset class="category">
			<legend class="category_title">
				Catégorie :
			</legend>
			<ul>
				<li>
					<a href="{{ path('AppCofidurBundle_category_add', {'idForm': formation.id}) }}">Ajouter une catégorie</a>
				</li>
			</ul>
		</fieldset>
	{% endblock %}
{% endif %}
