{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}
	<table class="category_page">
		<tr>
		<td class="entete_category">ID</td><td>{{ formation.id }} </td>
	</tr>
		<tr>
		<td class="entete_category">Name</td><td>{{ formation.name }} </td>
	</tr>
		<tr>
		<td class="entete_category">Type</td><td>{{ formation.typeFormation }} </td>
	</tr>
		<tr>
		<td class="entete_category">Objectif</td><td>{{ formation.objectif }} </td>
	</tr>
		<tr>
		<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.moyensPedagogiques }} </td>
	</tr>
		<tr>
		<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.lieuMoyensMateriels }} </td>
	</tr>
		<tr>
		<td class="entete_category">Criticité</td><td>{{ formation.criticite }} </td>
	</tr>
	</table>

	{% for category in categories %}
		<br/>
		<fieldset class="category">
		<legend class="category_title">
			Catégorie : {{ category.nom }} ({{ category.ordre }})
			<a href="{{ path('AppCofidurBundle_category_edit', {'idCat': category.id}) }}">EDIT</a>
			<a href="{{ path('AppCofidurBundle_category_delete', {'idCat': category.id}) }}">SUPPR</a>
		</legend>
		<table class="task_tab">
			<tr>
				<td class="task_name">Nom task</td>
				<td class="task_order">Ordre task</td>
			</tr>
			{% for task in tasks %}
				{% if task.idCategory == category.id %}
					<tr>
						<td>{{ task.nom }}</td>
						<td>{{ task.ordre }}</td>
						<td>
							<a href="{{ path('AppCofidurBundle_task_edit', {'idTask': task.id}) }}">
								editer
							</a>
						</td>
						<td>
							<a href="{{ path('AppCofidurBundle_task_delete', {'idTask': task.id}) }}">
								supprimer
							</a>
						</td>
					</tr>
				{%endif%}
			{% endfor %}
		</table>
		<br/>

			<a href="{{ path('AppCofidurBundle_task_add', {'idCat': category.id}) }}">Ajouter une task</a>

	</fieldset>
{% endfor %}
{% endblock %}

{% block sidebar %}
	<div class="sidebar_link">
		<div class="sidebar_link_formation">
			<p>Formation :</p>
			<ul>
				<li>
					<a href="{{ path('AppCofidurBundle_formation_edit', {'id': formation.id}) }}">editer</a>
				</li>
				<li>
					<a href="{{ path('AppCofidurBundle_formation_delete', {'id': formation.id}) }}">supprimer</a>
				</li>
			</ul>
		</div>
		<div class="sidebar_link_category">
			<p>Catégorie :</p>
			<ul>
				<li>
					<a href="{{ path('AppCofidurBundle_category_add', {'idForm': formation.id}) }}">ajouter une
						catégorie</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}