{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}

<table>
	<tr>
		<th> ID </th>
		<th> NOM </th>
		<th> TYPE </th>
		<th> OBJECTIF </th>
		<th> MOYENS PEDAGOGIQUES </th>
		<th> MOYENS MATERIELS </th>
		<th> CRITICITE </th>
	</tr>
{% for formation in formations %}
	<tr>
		<td> {{ formation.id }} </td>
		<td> <a href="{{ path('AppCofidurBundle_formation_show', {'id': formation.id}) }}">{{ formation.name }}</a> </td>
		<td> {{ formation.typeFormation }} </td>
		<td> {{ formation.objectif }} </td>
		<td> {{ formation.moyensPedagogiques }} </td>
		<td> {{ formation.lieuMoyensMateriels }} </td>
		<td> {{ formation.criticite }} </td>
		<td> <a href="{{ path('AppCofidurBundle_formation_edit', {'id': formation.id}) }}">Editer</a>
		<td> <a href="{{ path('AppCofidurBundle_formation_delete', {'id': formation.id}) }}">Supprimer</a>
	</tr>
{% endfor %}
</table>

<br/>
<a href="{{ path('AppCofidurBundle_formation_add') }}">Ajouter une formation</a>

{% endblock %}
