{% extends 'AppCofidurBundle::layout.html.twig' %}

{% block body %}
	<table class="category_page">
		<tr>
		<td class="entete_category">ID</td><td>{{ formation.id }} </td>
	</tr>
		<tr>
		<td class="entete_category">Name</td><td>{{ formation.name }} </td>
	</tr>
		<tr>
		<td class="entete_category">Type</td><td>{{ formation.typeFormation }} </td>
	</tr>
		<tr>
		<td class="entete_category">Objectif</td><td>{{ formation.objectif }} </td>
	</tr>
		<tr>
		<td class="entete_category">Moyens pédagogiques</td><td>{{ formation.moyensPedagogiques }} </td>
	</tr>
		<tr>
		<td class="entete_category">Lieu & moyens matériels</td><td>{{ formation.lieuMoyensMateriels }} </td>
	</tr>
		<tr>
		<td class="entete_category">Criticité</td><td>{{ formation.criticite }} </td>
	</tr>
	</table>

	{% for categorie in categories %}
		<br/>
		<fieldset class="category">
		<legend>
			<div class="category_title">
				Catégorie : {{ categorie.nom }} ({{categorie.ordre}})
				<a href="{{ path('AppCofidurBundle_categorie_edit', {'idCat': categorie.id}) }}">EDIT</a>
				<a href="{{ path('AppCofidurBundle_categorie_delete', {'idCat': categorie.id}) }}">SUPPR</a>
			</div>
		</legend>
		<table class="task_tab">
			<tr>
				<td class="task_name">Nom tache</td>
				<td class="task_order">Ordre tache</td>
			</tr>
			{% for tache in taches %}
				{% if tache.idCategorie == categorie.id %}
					<tr>
						<td>{{tache.nom}}</td>
						<td>{{tache.ordre}}</td>
						<td>
							<a href="{{ path('AppCofidurBundle_tache_edit', {'idTache': tache.id}) }}">
								Editer
							</a>
						</td>
						<td>
							<a href="{{ path('AppCofidurBundle_tache_delete', {'idTache': tache.id}) }}">
								Supprimer
							</a>
						</td>
					</tr>
				{%endif%}
			{% endfor %}
		</table>
		<br/>

		<a href="{{ path('AppCofidurBundle_tache_add', {'idCat': categorie.id}) }}">Ajouter une tache</a>

	</fieldset>
{% endfor %}
{% endblock %}

{% block sidebar %}
	<div class="sidebar_link">
		<p>Formation :</p>
		<ul>
			<li>
				<a href="{{ path('AppCofidurBundle_formation_edit', {'id': formation.id}) }}">EDIT</a>
			</li>
			<li>
				<a href="{{ path('AppCofidurBundle_formation_delete', {'id': formation.id}) }}">SUPPR</a>
			</li>
		</ul>
	</div>
	<div class="sidebar_link">
		<p>Categorie :</p>
		<ul>
			<li>
				<a href="{{ path('AppCofidurBundle_categorie_add', {'idForm': formation.id}) }}">Ajouter une catégorie</a>
			</li>
		</ul>
	</div>
{% endblock %}